* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container { 
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.input-field {
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-field input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


.login-btn {
  margin-top: 20px; 
  width: 100%;
  padding: 10px;
  background-color: #ffcb00;
  color: rgb(64, 64, 64);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.social-login {
  margin-top: 20px;
  text-align: center;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(161, 161, 161);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.google-button:hover {
  background-color: #357ae8;
}

.google-button .bi-google {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}


.login-btn:hover {
  background-color: #357ae8;
}

.forgot-password {
  margin-top: 10px; 
  text-align: center;
}

.forgot-password a {
  text-decoration: none; 
  color: #0b0b0b; 
  font-size: 14px;
}