<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Gestão de Fornecedores</title>
  <link href="./main.css" rel="stylesheet">
</head>
<body> //colocar os html correspondente. Esse arquivo, se seguir o modelo do professor, será a "home"
  {{{body}}}
</body>
</html>
