<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forcenedores</title>
</head>
<body>
  <header>
    <h1>Gestão de Fornecedores e Clientes</h1>
  </header>
  <div class="container">
    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Bem vindo!</h1>
          <p>Texto aleatorio</p>
          <h2>Escolha uma opção:</h2>
          <div class="button-group">
            <button type="button" id="Fornecedor" onclick="window.location.href = './Home/fornecedore';">Fornecedor</button>
            <button type="button" id="Cliente" onclick="window.location.href = './Home/clientes';">Cliente</button>
          </div>
        </div>
        <div class="hero-image">
          <img src="../../imagens/track.png" alt="Delivery Truck">
        </div>
      </section>
    </main>
  </div>
</body>

</html>