<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Fornecedores e Clientes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Gestão de Fornecedores e Clientes</h1>
    </header>

    <main>
        <!-- Seção para exibir fornecedores -->
        <section>
            <h2>Fornecedores</h2>
            <!-- Botão para navegar para a rota de fornecedores -->
            <button type="button" id="Fornecedor" onclick="window.location.href = './Home/fornecedore';">Fornecedor</button>
        </section>

        <!-- Seção para exibir clientes -->
        <section>
            <h3>Clientes</h3>
            <!-- Botão para navegar para a rota de clientes -->
            <button type="button" id="Cliente"  onclick="window.location.href = './Home/clientes';">Cliente</button>
        </section>
    </main>

</body>


</html>